.sidebar {
	flex: 0.3;
	border-right: 1px solid var(--twitter-background);
	align-items: center;
	cursor: pointer;
	margin-top: 20px;
	padding: 0 20px;
	min-width: 250px;
}

.sidebar_twitterIcon {
	color: var(--twitter-color);
	/* padding: 20px; */
	font-size: 30px !important;
	margin-left: 20px;
	margin-bottom: 20px;
}

.sidebar_tweet {
	background: var(--twitter-color) !important;
	border: none !important;
	color: white !important;
	font-weight: 900 !important;
	text-transform: inherit;
	border-radius: 30px !important;
	height: 50px !important;
	margin-top: 20px !important;
}
